# asgiref==3.2.10
django
# needed to use ImageField in DB
pillow
# pytz==2020.1
# sqlparse==0.3.1
# Python adapter for communicating with a PostgreSQL database
psycopg2-binary
# This enables you to specify your database details via the DATABASE_URL environment variable 
dj_database_url
# whitenoise with brotli support
whitenoise[brotli]
# Uvicorn and Gunicorn dependencies
gunicorn
uvicorn